<!DOCTYPE html>
<html>

<head>
    <title>Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename='hack.css') }}">
    <script type="text/javascript" src="{{ url_for("static", filename='vue.js') }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename='axios.min.js') }}"></script>
</head>

<body class="hack dark-grey">

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>login</th>
                    <th>mail</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='user in users'></tr>
            </tbody>
        </table>


    </div>
</body>

</html>