<!DOCTYPE html>
<html>

<head>
    <title>Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename='hack.css') }}">
    <script type="text/javascript" src="{{ url_for("static", filename='vue.js') }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename='axios.min.js') }}"></script>
</head>

<body class="hack dark-grey">

    <div class="container justify-content-center">
        <p></p>
        <form class="form justify-content-center" method="POST" action='/register-verify'>
          <fieldset class="form-group">
            <label for="login">USERNAME:</label>
            <input type="text" name='login' class="form-control">
          </fieldset>
          <fieldset class="form-group">
            <label for="email">EMAIL:</label>
            <input type="text" name='email' class="form-control">
          </fieldset>
          <div class="form-actions">
            <button type="submit" action='submit' class="btn btn-primary btn-block">Submit</button>
          </div>
        </form>

    </div>
</body>

</html>